#img-bg{
    background-image: url('https://images.hdqwalls.com/download/christian-pulisic-in-fifa-22-iu-1360x768.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}