<div class="container-fluid">

    <div class="row">
    
        <div class="col-md-6" id="img-bg"></div>
    
            <div class="col-md-6 mt-5 mb-5">
    
              <div class="row d-flex justify-content-center">
                <div class="col-md-10">
    
                    <h1 class="text-center font-weight-bolder ">Cadastre-se</h1>
                    <h5 class="text-center">É rápido e fácil.</h5>
    
                    <div class="form-group">
                  <label for="nome">Seu nome:</label>
                  <input class="form-control shadow-sm p-3 mb-3 bg-white rounded" type="text" name="nome" id="nome" placeholder="Nome..." [(ngModel)]="usuario.nome" >
              </div>
    
              <div class="form-group">
                <label for="usuario">Seu usuario:</label>
                <input class="form-control shadow-sm p-3 mb-3 bg-white rounded" type="text" name="usuario" id="usuario" placeholder="Usuário..." [(ngModel)]="usuario.usuario">
            </div>
    
            <div class="form-group">
                <label for="foto">Link da foto:</label>
                <input  class="form-control shadow-sm p-3 mb-3 bg-white rounded" type="text" name="foto" id="foto" placeholder="Link da sua foto..." [(ngModel)]='usuario.foto'>
            </div>
    
            <div class="form-group">
                <label for="dataNasc">Data de nascimento:</label>
                <input class="form-control" type="date" name="dataNasc" id="dataNasc" [(ngModel)]='usuario.dataNascimento'>
            </div>
    
            <div class="form-group">
                <label for="senha">Sua senha:</label>
                <input class="form-control shadow-sm p-3 mb-3 bg-white rounded" type="password" name="senha" id="senha" placeholder="Sua senha..." (input)='confirmSenha($event)'>
            </div>

            <div class="form-group">
                <label for="confirmSenha">Confirmar senha:</label>
                <input class="form-control shadow-sm p-3 mb-3 bg-white rounded" type="password" name="confirmSenha" id="confirmSenha" placeholder="Sua senha..."  [(ngModel)]='usuario.senha' >
            </div>
    
                <div class="form-group ">
                    <label for="senha">Tipo de usuário:</label>
                <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                    <option>Selecione um tipo de usuário:</option>
                    <option value="padrão">9 matador!</option>
                    <option value="adm">10 e faixa!</option>
                </select>
                </div>
                <p class="text-center font-italic font-weight-bolder">Ao clicar em Cadastrar, você concorda com nossos Termos, Política de Dados e Política de Cookies.</p>
    
                <div class="d-flex justify-content-center">
                    <button routerLink='/entrar' type="submit" class="btn btn-outline-dark mr-4">Cancelar</button>
                    <button type="submit" class="btn btn-outline-success" (click)='cadastrar()'>Cadastrar</button>
                </div>
    
    
                
                
                
    
                </div>
              </div>  
    
        </div>
    
     </div>
    
</div>

