
#img-bg{
    background-image:url('https://images.hdqwalls.com/download/alexander-arnold-in-fifa-22-kz-1360x768.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    min-height: 100vh;
}



